:root {

/* Colors: */
--unnamed-color-cfcfcf: #CFCFCF;
--unnamed-color-e6e6e6: #E6E6E6;
--unnamed-color-8fc7f1: #8FC7F1;
--unnamed-color-0a4c86: #0A4C86;
--unnamed-color-979797: #979797;
--unnamed-color-4599f8: #4599F8;
--unnamed-color-009dff: #009DFF;
--unnamed-color-eff0f2: #EFF0F2;
--unnamed-color-111b1e: #111B1E;
--unnamed-color-ffffff: #FFFFFF;
}